/* Variables
:root {
    --accent-color: #ffcc00;
} */

body {
    font-family: "Lato", sans-serif;
    background: #000;
    color: #fff;
}

header {
    display: flex; 
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

h1 .highlight {
    background-color: orange;
    background-size: 5rem;
    border-radius: 5rem;
}

.hero h1 .highlight {
    color: orange;
    background-color: transparent;
}

.span {
    padding: 0.1rem;
    margin: 0.1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
    background-color: plum;
}

.contact-button {
    background-color: orange;
    border-radius: 3rem;
    padding: 5px;
    color: #000;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--accent-color);
    bottom: -5px;
    left: 0;
    z-index: -1;
}

.hero {
    height: 450px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero img {
    width: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    animation: zoom 10s infinite alternate;
    z-index: -1;
    padding: 1px;
}

@keyframes zoom {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

.hero h2 h1 p {
    float: left;
    position: absolute;
}

.planet img {
    width: 100%;
    height: auto;
    display: block;
}

.planet h3 {
    text-align: center;
}

button {
    background: plum;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: orange;
    align-items: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: white;
}

.planet-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

/* For screens between 400px and 900px → 3 planets per row */
@media (min-width: 400px) and (max-width: 900px) {
    .header {
        justify-content: center;
    }
    
    .planet-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For screens 400px and below → 1 planet per row */
@media (max-width: 400px) {
    .planet-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .planet img {
        width: 500px;
        height: 500px; 
    }
}